@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    body {
        @apply bg-gray-50;
    }
}

canvas {
    width: 100%;
    height: auto;
    transform: scale(1);
    transform-origin: 0 0;
}
